.hero-section:before{top:3%;bottom:3%}
.balloons{top:1%;height:98%}
.ribbon-copy-blue{inset:14% 18% 43%;filter:drop-shadow(0 1px 1px #062e61)}
.ribbon-copy-gold{inset:23% 14% 27%;filter:drop-shadow(0 1px 1px #d4a94f)}
